<!-- Header section -->
<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 text-center text-lg-left">
        <!-- logo -->
        <a href="./index.html" class="site-logo">
          <img src="assets/img/logo.jpg">
        </a>
      </div>
      <div class="col-xl-6 col-lg-5">
        <form class="header-search-form">
          <input type="text" placeholder="Search on TKS">
          <button><i class="material-icons">search</i></button>
        </form>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="user-panel">
          <div class="up-item">
            <a href="/login"><i class="material-icons">perm_identity</i>Sign In or Create Account</a>
          </div>
          <div class="up-item">
            <a href="/cart"><i class="material-icons">shopping_cart</i>Shopping Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Navbar section section -->
<nav class="main-navbar">
  <div class="container">
    <!-- menu -->
    <ul class="main-menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Women</a></li>
      <li><a href="#">Men</a></li>
      <li><a href="#">Jewelry</a></li>
      <li><a href="#">Shoes</a>
        <ul class="sub-menu">
          <li><a href="#">Sneakers</a></li>
          <li><a href="#">Sandals</a></li>
          <li><a href="#">Formal Shoes</a></li>
          <li><a href="#">Boots</a></li>
          <li><a href="#">Flip Flops</a></li>
        </ul>
      </li>
      <li><a href="#">Pages</a>
        <ul class="sub-menu">
          <li><a href="./product.html">Product Page</a></li>
          <li><a href="./category.html">Category Page</a></li>
          <li><a href="./cart.html">Cart Page</a></li>
          <li><a href="./checkout.html">Checkout Page</a></li>
          <li><a href="./contact.html">Contact Page</a></li>
        </ul>
      </li>
      <li><a href="#">Blog</a></li>
    </ul>
  </div>
</nav>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/bg.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/bg-2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Features section -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 p-0 feature">
      <div class="feature-inner">
        <div class="feature-icon">
          <img src="assets/img/icons/1.png" alt="#">
        </div>
        <h4>Fast Secure Payments</h4>
      </div>
    </div>
    <div class="col-md-4 p-0 feature">
      <div class="feature-inner">
        <div class="feature-icon">
          <img src="assets/img/icons/2.png" alt="#">
        </div>
        <h4>Premium Products</h4>
      </div>
    </div>
    <div class="col-md-4 p-0 feature">
      <div class="feature-inner">
        <div class="feature-icon">
          <img src="assets/img/icons/3.png" alt="#">
        </div>
        <h4>Free & fast Delivery</h4>
      </div>
    </div>
  </div>
</div>

<!-- Features section end -->


<!-- letest product section -->
<section class="top-latest-product-section">
  <div class="container">
    <div class="section-title">
      <h2>LATEST PRODUCTS</h2>
    </div>
    <div class="product-slider">
      <app-product></app-product>
    </div>
  </div>
</section>
<!-- letest product section end -->


<!-- Product filter section -->
<section class="product-filter-section">
  <div class="container">
    <div class="section-title">
      <h2>BROWSE TOP SELLING PRODUCTS</h2>
    </div>
    <ul class="product-filter-menu">
      <li><a href="#">TOPS</a></li>
      <li><a href="#">JUMPSUITS</a></li>
      <li><a href="#">LINGERIE</a></li>
      <li><a href="#">JEANS</a></li>
      <li><a href="#">DRESSES</a></li>
      <li><a href="#">COATS</a></li>
      <li><a href="#">JUMPERS</a></li>
      <li><a href="#">LEGGINGS</a></li>
    </ul>
    <app-product></app-product>
    <div class="text-center pt-5">
      <button class="site-btn sb-line sb-dark">LOAD MORE</button>
    </div>
  </div>
</section>
<!-- Product filter section end -->

<!-- Banner section -->
<section class="banner-section">
  <div class="container">
    <div class="banner">
      <div class="tag-new">NEW</div>
      <span>New Arrivals</span>
      <h2>STRIPED SHIRTS</h2>
      <a href="#" class="site-btn">SHOP NOW</a>
    </div>
  </div>
</section>
<!-- Banner section end  -->

<!-- Footer section -->
<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="footer-widget">
          <h5>ABOUT</h5>
          <p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id
            dapibus erat iaculis ut. Integer ac sem.</p>
          <img src="assets/img/cards.png">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="footer-widget">
          <h5>QUESTIONS</h5>
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Track Orders</a></li>
            <li><a href="">Returns</a></li>
            <li><a href="">Jobs</a></li>
            <li><a href="">Shipping</a></li>
          </ul>
          <ul>
            <li><a href="">Blog</a></li>
            <li><a href="">Partners</a></li>
            <li><a href="">Bloggers</a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Terms of Use</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="footer-widget">
          <h5>CONTACT</h5>
          <p>TKS Studios
            <br>6306 Wilshire Fern, Houston, Tx
            <br>+53 345 7953 32453
            <br>tks@gmail.com
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="social-links-warp">
    <div class="container">
      <div class="social-links">
        <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
        <a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
        <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
        <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
        <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
        <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
        <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
      </div>
    </div>
  </div>
</section>
<!-- Footer section end -->
